* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: yellow;

}

.login {
    text-align: center;
    background-origin: border-box;
    background-color: white;
    border: 5px black;
    border-radius: 20px;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 150px;
    padding-bottom: 100px;
    padding-top: 100px;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#username {
    border-radius: 8px;
    color: black;
    font-size: 20px;
    position: relative;
    bottom: 20px;
}

#password {
    border-radius: 8px;
    color: black;
    font-size: 20px;
    position: relative;
    bottom: 10px;
}

#loginbtn {
    border-radius: 8px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    background-color: yellow;
    position: relative;
    top: 20px;
}

#loginbtn:hover {
    cursor:pointer;
}

#stayloggedin {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.logintext {
    position: relative;
    bottom: 30px;
}

#forgotusername {
    position:relative;
    top: 10px;
}

#forgotpassword {
    position: relative;
    top: 10px;
}